body{
    margin:0px;
    padding: 0px;;
   background-color: #E3E6E6;
}

/* Navigation bar */
.navbar{
    width:100%;
    height:100px;
    box-sizing: border-box;
}
#nav_1{
    height:60px;
    display: flex;
   justify-content: space-around;
    background-color: #131921;
}
#nav_1>div:nth-child(1)>img{
width:100%;
height:100%;
}
#nav_1>div:nth-child(2)>img{
    width:100%;
    height:100%;
}
#nav_1>div:nth-child(3)>div>div>img{
    width:25px;
    height:25px;
}
#nav_1>div:nth-child(3)>div{
    width:150%;
    height:40px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
    background-color: white;
}
#nav_1>div:nth-child(3)>div>div{
    display: flex;
    align-items: center;
}
#nav_1>div:nth-child(3)>div>div:nth-child(1){
    width:10%;
}
#nav_1>div:nth-child(3)>div>div:nth-child(1)>select{
    width:100%;
    font-size: 17px;
    border: none;
}
#nav_1>div:nth-child(3)>div>div:nth-child(2){
    width:82%;
    height:100%;
    border:1px solid gray;
}
#nav_1>div:nth-child(3)>div>div:nth-child(2)>input{
    width: 100%;
   
   font-size: 17px;
   padding: 8px;
   background-color: #FFFFFF;
   border: none;
}
#nav_1>div:nth-child(3)>div>div:nth-child(3){
    width:8%;
    height:100%;
    background-color: #FEBD69;
}
#nav_1>div:nth-child(3)>div>div:nth-child(3)>img{
    display: block;
    margin: auto;
 margin-left: 12px;
}
#nav_1>div:nth-child(4){
    margin-left: 220px;
    display: flex;
    align-items: center;
}
#nav_1>div:nth-child(4)>img{ 
    width: 30px;
    height:30px;
}
#nav_1>div:nth-child(4)>select{ 
    background-color: #131921;
    color: white;
    font-weight: bold;
    border: none;
}
#nav_1>div:nth-child(5)>img{ 
    width: 90%;
    
}
#nav_1>div:nth-child(6)>img{ 
    width: 90%;
    
}
#nav_1>div:nth-child(7)>img{ 
    width: 90%;
    
}
#nav_2{
    width:100%;
    height:40px;
    font-weight: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #232F3E;
    color:white
}
#nav_2>div:nth-child(1){
    /* width:100%;
    height:100%; */
    display: flex;
}
#nav_2>div:nth-child(13){
    /* width:100%;
    height:100%; */
    display: flex;
    align-items: center;
}
#nav_2>div>img{
    width:25px;
    height:25px;
}
#nav_2>div:nth-child(2){
   color: white;
}
#hamburger-icon {
    margin: auto 0;
    /* display: none; */
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
  }
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
/* 
.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .mobile-menu li {
    margin-bottom: 10px;
  } */

  /* first sliding */
.product-container{
    box-sizing: border-box;
    /* padding: 5px 5px; */
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  .product-container::-webkit-scrollbar{
   display: none;
   }
   .product-card{
    flex: 0 0 auto;
    width: 100%;
    height: 550px;
    /* margin-right: 50px; */
    /* padding: 10px; */
   }
   .product-card>img{
   position: relative;
   width: 100%;
   height: 100%;
  text-align: center;
  }
  .product-thumb{
   width: 100%;
   height: 350px;
   /* object-fit: cover; */
   }
   .product-card:hover.product-card{
    opacity: 1;
   }
   .product-card:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   }
   .pre-btn, .nxt-btn{
    border: none; 
    width: 4vw;
   height: 70%;
   position: absolute;
   /* bottom: 0; */
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
   cursor: pointer;
   z-index: 8;
 }
 .pre-btn{
left: 0;
transform: rotate(180deg);
}
.nxt-btn{
right: 0;
} 
 .pre-btn img, .nxt-btn img{
opacity: 0.2;
} 
.pre-btn:hover img, .nxt-btn:hover img{
opacity: 1;
}

/* absolute cards */
.absolute_append{
    width:100%;
    height:auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    position: absolute;
    margin-top: 300px;
}
.absolute_append>div{
    padding: 15px;
    margin: 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.absolute_append>div:hover{
    cursor: pointer;
}
.absolute_append>div>p{
    color: #278798;
}
.absolute_append>div>p:hover{
    color: red;
    cursor: pointer;
}
.absolute_append>div>img{
    width: 100%;
    height:70%;
}
.small_card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:15px;
}
.small_card>a>p{
    text-decoration: none;
    color:#278798 ;
}
.small_card>div>img{
    width:100%;
}
.small_card:nth-child(1){

}
.small_card>div>p{
    font-size: 13px;
}
#signInSecurely{
    background-color: transparent;
}
#signInSecurely>div{
    padding: 15px;
    background-color: white;
    padding-bottom: 30px;
}
#signInSecurely>div>button{
    width:90%;
   display: block;
   margin: auto;
   border-radius: 10px;
   border: none;
    padding: 7px;
    background-color: #FFD814;
}
#laptop{
    width:100%;
    height:100%;
    height:auto;
    margin-top: 50px;
}

/* BlockBuster Deals */
.Blockbuster_deals{
width:100%;
margin-top: 750px;
box-sizing: border-box;
padding: 15px;
background-color: white;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.deals_cards>p{
    font-size: 13px;
}
#deals{
    display: flex;
    align-items: center;
    gap:10px;
}
#deals>p{
    color: #278798;
}
.product-container2{
    box-sizing: border-box;
    padding: 5px 5px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-bottom: 15px;
    
  }
  .product-container2::-webkit-scrollbar{
   display: none;
   }
   .product-card2{
    flex: 0 0 auto;
    width: 200px;
    /* height: 300px; */
    margin-right: 30px;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: #F7F8F8;
   }
   .product-image2{
   position: relative;
   width: 100%;
   /* height: 100%; */
  /* text-align: center; */
  }
  .product-image2>img{
    width:100%;
    height:200px;
  }
  .product-image2>div{
    display: flex;
    align-items: center;
    gap:5px;
  }
  .product-image2>p{
    font-size: 12px;
  }
  .product-image2>div>button{
    font-size: 12px;
    border-radius: 5px;
    padding: 5px;
    border: none;
    background-color: #CC0C39;
    color: white;
  }
  .product-image2>div>p{
    font-size: 12px;
  }
  .product-thumb2{
   width: 100%;
   /* height: 350px; */
   /* object-fit: cover; */
   }
   .product-card2:hover.product-card2{
    opacity: 1;
   }
   .product-card2:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   }
   .pre-btn2, .nxt-btn2{
    border: none; 
    width: 4vw;
   height: 35%;
   position: absolute;
   /* bottom: 0; */
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
   cursor: pointer;
   z-index: 8;
 }
 .pre-btn2{
left: 0;
transform: rotate(180deg);
}
.nxt-btn2{
right: 0;
} 
 .pre-btn2 img, .nxt-btn2 img{
opacity: 0.2;
} 
.pre-btn2:hover img, .nxt-btn2:hover img{
opacity: 1;
}

/* Smartwatch */
.Blockbuster_deals2{
    width:100%;
    margin-top: 15px;
    box-sizing: border-box;
    padding: 15px;
    background-color: white; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* Offers */
.offers{
    width: 100%;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:15px;
    box-sizing: border-box;
}
.offers>div{
    padding: 15px;
    background-color: white;
}
.offers>div>img{
    width: 100%;
    /* height:250px; */
}
.offers>div>p{
    color: #278798;
}
.offers>div>p:hover{
    color: red;
    cursor: pointer;
}

/* emi */
.emi>img{
    width: 80%;
    display: block;
    margin: auto;
    background-color: white;
    padding: 20px 130px 20px 130px;
    margin-top: 15px;
}
/* Sign in */
.signIn{
  width: 100%;
  text-align: center;
}
.signIn>button{
    width: 200px;
    border-radius: 5px;
    padding: 5px;
    background-color: #FFCA46;
    border: none;
}
.signIn>p{
    font-size: 13px;
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
}
/* footer */
.footer{
width:100%;
height:auto;
background-color: #232F3E;
box-sizing: border-box;
}
.footer_top{
    width:80%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(4,1fr);
}
.footer_card{
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}
.footer_card>p{
    font-size: 13px;
}
#footer_hr{
    background-color: gray;
    margin-top: 20px;
    margin-bottom: 20px;
}
#footer_icon{
    display: flex;
    align-items: center;
    gap:30px;
    margin-left: 40%;
    padding-bottom: 20px;
    
}
#footer_icon>img{
    width:200px;
}
#footer_icon>select{
    padding: 10px;
    background-color: transparent;
    color: white;
}
#footer_icon>select>option{
    color: #131921;
}
#contries{
    text-align: center;
    padding-bottom: 20px;
}
#contries>a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    margin-right: 5px;
}
#contries>a:hover{
    text-decoration: underline;
}
.black_footer{
    width: 100%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(5,1fr);
    gap:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #131921;
    color: white;
    font-size: 13px;
    box-sizing: border-box;
}
#footer_last{
    width:100%;
    text-align: center;
    background-color: #131921;
    padding-bottom: 20px;
}
#footer_last>div:nth-child(1){
    display: flex;
    color: white;
    padding-left: 39%;
}
#footer_last>div:nth-child(1)>p{
    margin-right: 10px;
    font-size: 13px;
}
#footer_last>div:nth-child(2){
    text-align: center;
    color: white;
    font-size: 13px;
}
a{
    text-decoration: none;
}

